.mega-btn {
    position: relative;

    &:hover {
        .nav-anchor {
            color: $gold;
        }

        &::after {
            height: 99px;
        }

        .mega-menu {
            transform: scaleY(1);
        }
    }

    &:after {
        width: 100%;
        height: 0;
        content: url(../images/line.png);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: flex-end;
        @include transition(all 0.3s ease-in-out);
    }
}

.mega-menu {
    position: fixed;
    left: 0;
    top: 168px;
    width: 100vw;
    background-color: $black;
    @include transition(all 0.3s ease-in-out);
    border-top: 1px solid #1c1c1c;
    transform-origin: top;
    transform: scaleY(0);
}

.mega-ul {
    display: flex;
    padding: 45px 0 60px;
}

.mega-li {
    width: 25%;
    overflow: hidden;
    margin-right: 30px;

    #{$rtl} & {
        margin-right: 0;
        margin-left: 30px;
    }

    &:last-of-type {
        margin: 0;

        #{$rtl} & {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.mega-a {
    font-size: 18px;
    color: $fff;
    text-transform: uppercase;

    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $gold;
    }

    img {
        backface-visibility: hidden;
        @include transition(all 0.3s ease-in-out);
    }

    .mega-img {
        margin-bottom: 13px;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}