.mo-navbar {
    display: flex;
}

.nav-li {
    margin-right: 30px;
    line-height: 40px;

    #{$rtl} & {
        margin-right: 0;
        margin-left: 30px;
    }

    &:last-of-type {
        margin: 0;

        #{$rtl} & {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.nav-anchor {
    font-size: 18px;
    color: $fff;
    text-transform: uppercase;
    @include transition(all 0.3s ease-in-out);

    &:hover,
    &:focus {
        color: $gold;
    }
}